<div class="container">
    <h1 class="header">STEM Nerd News</h1>
    <div class="buttonHolder">
        <button id="scrape">Scrape</button>
    </div>

    {{#each result}}
        <div class="articleContainer">
            <div class="article">
                <a href="{{this.link}}" target="_blank" class="article">
                    <h1 class="title">{{this.title}}</h1>
                    <p><span class="summary">{{this.summary}}</span></p>
                </a>
            </div>
            <form action="/postcomment" method="post">
                <textarea type="text" name="body" placeholder="Write Note Here"></textarea>
                <input class="savecomment" type="submit" data-id="{{this._id}}">
            </form>

            <div id="commentsSection">
                <h1 class="title">Comments</h1>
                {{#each this.comments.comment}}
                    <p class="comment">
                        <a class="deletecomment" data-comment="{{_id}}" data-article="{{../this.id}}"><span class="commentBody">{{body}}</span><span class="commentTimestamp">{{timestamp}}</span>
                        <i class="fa fa-trash"></i></a>
                    </p>
                {{/each}}
            </div>

        </div>
    {{/each}}
</div>